body{
    background-color: rgb(12, 198, 198);
}
 


h1 {
    text-align: center
}  

.paragrafo1 {
    color:#a52a2a;
    text-align: center;
    font-size: 20px;
}
.paragrafo2 {
    color:rgb(16, 120, 27);
    text-align: center;
    font-size: 20px;
}
.paragrafo3 {
    color:rgb(116, 65, 11);
    text-align: center;
    font-size: 20px;
}

#título {
    text-align: center;
    color:rgb(231, 37, 37);
    font-size: 40px;
}
#subtítulo {
    text-align: center;
    color:rgb(235, 16, 16)
}